Source: picamerax
Maintainer: Dave Jones <dave@waveform.org.uk>
Homepage: http://picamerax.readthedocs.io/
Section: python
Priority: extra
Build-Depends:
 debhelper (>= 8),
 dh-python,
 python-all (>= 2.7),
 python-setuptools,
 python3-all,
 python3-setuptools,
 python3-sphinx,
 libjs-mathjax
Standards-Version: 3.9.6
Vcs-Git: https://github.com/waveform80/picamerax.git
Vcs-Browser: https://github.com/waveform80/picamerax
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.2

Package: python-picamerax
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, libraspberrypi0, python-numpy
Suggests: python-picamerax-docs, python-rpi.gpio
Description: Pure Python interface to the Raspberry Pi's camera module.
 picamerax is a library for working with the Raspberry Pi's camera module from
 within Python without having to resort to subprocesses. The majority of the
 functionality of raspistill and raspivid is replicated by the library.
 .
 This is the Python 2 version of the package.

Package: python3-picamerax
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, libraspberrypi0, python3-numpy
Suggests: python-picamerax-docs, python3-rpi.gpio
Description: Pure Python interface to the Raspberry Pi's camera module.
 picamerax is a library for working with the Raspberry Pi's camera module from
 within Python without having to resort to subprocesses. The majority of the
 functionality of raspistill and raspivid is replicated by the library.
 .
 This is the Python 3 version of the package.

Package: python-picamerax-docs
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}, libjs-mathjax
Description: Documentation for the Python interface to the RPi's camera module.
 picamerax is a library for working with the Raspberry Pi's camera module from
 within Python without having to resort to subprocesses. The majority of the
 functionality of raspistill and raspivid is replicated by the library.
 .
 This is the version-independent documentation for the package.
